---
extends: default

ignore: |
    .venv*/
    venv*/

rules:
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  line-length:
    max: 310
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  colons:
    max-spaces-after: -1
    level: error
  commas:
    max-spaces-after: -1
    level: error
  empty-lines:
    max: 3
    level: error
  hyphens:
    level: error
  truthy: enable
  new-lines:
    type: unix
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
